// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents {
  width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
}

.genre-box {
  width: 200px;
}

.genre-search {
  font-weight: bold;
}

.right-box {
  width: 600px;
}

.explanation {
  text-align: center;
}

.new-item-list {
  display: flex;
}

.new-item {
  width: 25%;
  
  text-align: center;
}

