
  <div class="contents">
    <h1 class="admin-contents-title">商品一覧</h1>
    <p class="new-item">
      <a href="/admin/items/new">商品新規登録</a>
    </p>
    <nav class="admin-item-column">
      <ul>
        <li>商品ID</li>
        <li>商品名</li>
        <li>税抜価格</li>
        <li>ジャンル</li>
        <li>ステータス</li>
      </ul>
    </nav>
    <div class="admin-item-list">
      <% @items.each do |item| %>
        <ul>
          <li><%= item.id %></li>
          <%= link_to admin_item_path(item.id) do %>
            <li><%= item.name %></li>
          <% end %>
          <li><%= item.price %>円</li>
          <li>ジャンル</li>
          <li>ステータス</li>
        </ul>
      <% end %>
    </div>
  </div>
